* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  max-width: 130rem;
  margin: 0 auto;
}

h1 {
  font-size: 9.2rem;
  letter-spacing: 1.5px;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  font-weight: 400;
  color: #333;
  display: inline-block;
}

.add-form {
  display: grid;
  height: 32px;
  max-width: 40rem;
  grid-template-columns: 80% 20%;
  margin: 3.2rem;
}

.add-form input {
  text-decoration: none;
  display: inline-block;
  border: none;
  background: none;
  background-color: #444;
  color: #fff;
  font-size: 1.8rem;
  font-family: inherit;
  border-bottom-left-radius: 11px;
  border-top-left-radius: 11px;
  padding: 0.8rem;
  cursor: pointer;
}

.add-form button {
  color: #fff;
  background-color: #333;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: inherit;
  cursor: pointer;
  border: none;
}
